anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blinker==1.6.3
Brotli
certifi==2023.7.22
cffi 
charset-normalizer==3.3.2
click==8.1.7
colorama 
comm 
cryptography
debugpy
decorator
defusedxml 
Flask==3.0.0
Flask-WTF==1.2.1
h11==0.14.0
idna
ipykernel
ipython
itsdangerous==2.1.2
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
MarkupSafe==2.1.3
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy==1.26.2
outcome==1.3.0.post0
overrides
packaging
pandas==2.1.3
pandocfilters
parso
pickleshare
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyOpenSSL
PySocks
python-dateutil
python-dotenv==1.0.0
python-json-logger
#pytz
#pywin32==305.1
#pywinpty
#PyYAML
pyzmq 
referencing
requests 
rfc3339-validator
rfc3986-validator 
rpds-py
selenium==4.15.2
Send2Trash
six
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve
stack-data
terminado
tinycss2
tornado
traitlets
trio==0.23.1
trio-websocket==0.11.1
typing_extensions
tzdata==2023.3
urllib3==2.0.7
wcwidth
webencodings==0.5.1
websocket-client 
Werkzeug==3.0.0
win-inet-pton
wsproto==1.2.0
WTForms==3.1.0
